<button onclick="location.href='/api/productos'">Inicio</button>

<h1>{{usuario.username}}</h1>
<p>edad: {{usuario.edad}}</p>
<p>rol: {{usuario.rol}}</p>
<p>email: {{usuario.email}}</p>
<p>direccion: {{usuario.direccion}}</p>
<p>telefono: {{usuario.telefono}}</p>