<button onclick="location.href='/api/productos'">Inicio</button>

<h2>{{producto.nombre}}</h2>
<p>{{producto.precio}}</p>
<p>{{producto.categoria}}</p>
<p>{{producto.descripcion}}</p>

<form action="/api/actualizarproducto/{{this._id}}" method="get">
    <td><button>editar</button></td>
</form>
<form action="/api/eliminarproducto/{{this._id}}?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <td><button>eliminar</button></td>
</form>

<h1>opiniones</h1>

<h5>calificacion media: {{promedioDeCalificacion}}</h5>
<hr>
<h5>ordenar por:</h5> 
<form action="/api/opiniones/filtrar/{{producto._id}}" method="post">
    <input type="radio" name="ordenar" value="masReciente" id="">mas reciente
    <input type="radio" name="ordenar" value="masAntiguo" id="">mas antiguo
    <input type="radio" name="ordenar" value="mejorCalificacion" id="">mejor valorado
    <input type="radio" name="ordenar" value="peorCalificacion" id="">peor valorado
    <input type="submit" value="ordenar">
</form>
<hr>
{{#if estanFiltradas}}
<div>
    <table>
        <tr> 
            <th>usuario</th><th>calificacion</th><th>opinion</th><th>fecha</th>
    {{#each opinionesYUsernameFiltradas}}
        <tr>
            <td>{{this.usuario}}</td> 
            <td>||{{this.calificacion}}/5||</td>
            <td>{{this.opinion}}</td> 
            <td>{{this.fecha}}</td> 
        </tr>    
    {{/each}} 
        </tr> 
    </table>
</div>  
{{else}}
<div>
    <table>
        <tr> 
            <th>usuario</th><th>calificacion</th><th>opinion</th><th>fecha</th>
    {{#each opinionesYUsername}}
        <tr>
            <td>{{this.usuario}}</td> 
            <td>||{{this.calificacion}}/5||</td>
            <td>{{this.opinion}}</td> 
            <td>{{this.fecha}}</td> 
        </tr>    
    {{/each}} 
        </tr> 
    </table>
</div>  
{{/if}}